<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.user %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><% if can? :update, blog %><%= link_to 'Edit', edit_blog_path(blog) %><% end %></td>
    <td><% if can? :destroy, blog %><%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Blog %><%= link_to 'New Blog', new_blog_path %><% end %>
