<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>User:</b>
  <%= @blog.user %>
</p>


<% if can? :update, @blog %><%= link_to 'Edit', edit_blog_path(@blog) %> |<% end %>
<%= link_to 'Back', blogs_path %>
